www/
node_modules/
src/

npm-debug.log*

# Files
stencil.config.ts
tsconfig.json
yarn.lock

# gomi file in mac
.DS_Store

# dotenv environment variables file
.env

.eslintrc

.babelrc

.gitignore

.npmignore

rollup.config.js

tsconfig.json
